/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:after,
.group:before {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group:before {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

.col-2-3 {
  width: 70%;
}

.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

/*
  ========================================
  Primary header - LOGO
  ========================================
*/

.logo {
  border-top: 4px solid #C0D9D9;
  font-size: 48px;
  font-weight: 100px;
  font-height: 44px;
  letter-spacing: 0.5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  margin: auto;
  text-transform: uppercase;
}

.logo-image {
  /*border-radius: 5px;*/
  /*display: block;*/
  /*margin-bottom: 22px;*/
  max-width: 5%
}
/*
  ========================================
  Links
  ========================================
*/

a {
  color: #C0D9D9;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #ffffff;
}

.primary-header a:hover {
  color: #8DEEEE;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  text-align: center;
}

.row {
  background: #fff;
  padding: 40px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-transform: uppercase;
}
.refresh-image {
  border-radius: 2px;
  max-width: 4%;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #C0D9D9;
}

.btn-default {
  border: 0;
  background: #C0D9D9;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #8DEEEE;
}


/*
  ========================================
  Tweet
  ========================================
*/

.tweet {
  border: 2px solid #c6c9cc;
  border-radius: 20px;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10%;
  margin: auto;
}

.tweet .username:hover {
  color: #8DEEEE;
}

.tweet .username:before{
	content: "@";
}

.tweet .username:after{
	content: ":";
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background-color: #96CDCD;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
  font-weight: strong;
  padding: 0px 0px 20px 0px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}